body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    background-color: #f0f2f5;
}

h1 {
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 15px;
    width: 250px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
}

button {
    padding: 10px 15px;
    font-size: 15px;
    color: white;
    background-color: green;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 8px rgba(15, 79, 147, 0.3);
}

button:hover {
    background-color:rgb(135, 8, 8);
    transform: scale(1.05);
}

ul {
    padding: 0;
    width: 300px;
}

ul li {
    list-style: none;
    margin: 10px 0;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li button {
    padding: 5px 10px;
    font-size: 12px;
    color: white;
    background-color: #ff4d4d;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 8px rgba(255, 77, 77, 0.3);
}

ul li button:hover {
    background-color: #e60000;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(230, 0, 0, 0.4);
}

ul li button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(230, 0, 0, 0.2);
}
